@model Thought

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="thought-preview">
                    <div class="well well-lg clearfix">
                        <a target="_blank" href="/read">
                            <h1 class="section-heading text-center">@Model.Title</h1>
                        </a>
                        <img alt="User Image" src="@Model.Author.Avatar" class="pull-left user-img img-circle">
                        <p class="text-muted">
                            Posted by <a href="#">@Model.Author.FullName</a> on @Model.CreatedOn.ToString("MM/dd/yyyy") in <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="@Model.Category">@Model.Category</a>
                        </p>
                        <div class="thought-lead">
                            <p class="lead">
                                @Model.Lead
                            </p>
                            <p class="read-more"></p>
                        </div>
                        <hr />
                        <a asp-action="Read" 
                            asp-controller="Thoughts" 
                            asp-route-id="@Model.Id" 
                            asp-route-categoryId="@Model.Category.ToString().ToLower()" 
                            asp-route-slug="@Model.Slug" class="btn pull-right">
                            Read Thought <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>