@model EditThoughtViewModel

@{
    ViewBag.Title = ViewBag.Title;
}

@if (Model.Image != null)
{
    <header class="intro-header" style="background-image: url('@Model.Image')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@Model.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
}
else
{
    @await Html.PartialAsync("_PageHeader", @Model.Title)
}

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">    
            <h1 class="text-center">Edit Your Thought</h1>
            <hr class="large"/>
            <form method="POST" asp-antiforgery="true"
                asp-controller="Thoughts" asp-action="Edit" 
                enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="CreatedOn" value="@Model.CreatedOn" />
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" type="text" class="form-control" value="@Model.Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" type="text" class="form-control" placeholder="@Model.Tags">
                    <span asp-validation-for="Tags"></span>
                </div>
                
                <div class="form-group">                
                    <label asp-for="Category"></label>
                    <select asp-for="Category" asp-items="@Html.GetEnumSelectList(typeof(Category))" class="form-control">
                        <option selected="selected">
                            @Model.Category
                        </option>
                    </select>
                    <span asp-validation-for="Category"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label><br />
                    <textarea asp-for="Content" class="form-control" id="editor" rows="10">
                        @Model.Content
                    </textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <div class="form-group">
                    @if (Model.Image != null)
                    {
                        <h3 class="text-center">Current Image</h3>
                        <a href="#" id="remove-image" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i> Remove Image</a>
                        <img id="thought-image" class="thumbnail img-responsive" src="@Model.Image" alt="No Image Selected">
                    }
                    else
                    {
                        <a href="#" id="remove-image" class="text-danger hidden"><i class="fa fa-trash" aria-hidden="true"></i> Remove Image</a>
                        <img id="thought-image" class="thumbnail img-responsive" src="" alt="No Image Selected">
                    }
                    <label asp-for="Image"></label>
                    <input type="hidden" id="model-image" asp-for="Image" value="@Model.Image">
                    <input id="image-input" class="form-control"  type="file" name="files" accept="image/*"/> 
                </div>
                <div class="form-group">
                    <div class="checkbox pull-left">
                        @Html.CheckBox("DisableComments", new { @checked = @Model.DisableComments })
                        @Html.LabelFor(m => m.DisableComments)
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">Save Thought Changes</button>
            </form>
            <a asp-action="Manage" asp-controller="Thoughts" class="btn btn-default pull-right">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
     <!-- TinyMCE Editor Setup-->
    <script type="text/javascript" src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
    tinymce.init({
        selector: '#editor',
        height: 500,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect  bold italic | alignleft aligncenter alignright alignjustify | bullist numlist        outdent indent | link image | sizeselect | fontselect |  fontsizeselect',
        theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt"
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function() { 
            
            var $removeImageBtn = $('#remove-image');
            var $thoughtImage = $('#thought-image');
            var $modelImage = $('#model-image');
            var $imageInput = $("#image-input");

            var currentImage = $modelImage.val();

            if (currentImage === '') {
                $removeImageBtn.hide();
            }

            function displayImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $thoughtImage.attr('src', e.target.result);
                        $removeImageBtn.show();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $removeImageBtn.on('click', function(e) {
                e.preventDefault();
                $imageInput.val('');
                if ($thoughtImage.attr('src') === currentImage) {
                    $removeImageBtn.hide();
                    $thoughtImage.attr('src', '');
                    $modelImage.val('');
                } else {
                    $thoughtImage.attr('src', currentImage);
                    $modelImage.val(currentImage);
                }
            });

            $imageInput.change(function() {
                displayImage(this);
            });
        });
    </script>
}