@model IEnumerable<Thought>

@{
    ViewData["Title"] = ViewBag.Content;
}

@await Html.PartialAsync("_PageHeader", (string)@ViewBag.Content)

@await Html.PartialAsync("_FlashMessage")

<!-- Page Content -->
<div class="text-center">
    <h3 class="text-muted">@ViewBag.Message</h3>

    @if (!Model.Any())
    {
        <a asp-action="Create" asp-controller="Thoughts" class="btn btn-default">Create a New Thought</a>
    }

    @foreach (var thought in Model)
    {
        <div class="well clearfix">
            <h1>
                <a asp-action="Read" 
                    asp-controller="Thoughts" 
                    asp-route-id="@thought.Id" 
                    asp-route-categoryId="@thought.Category.ToString().ToLower()" 
                    asp-route-slug="@thought.Slug">
                        @thought.Title
                </a>
            </h1>
            <a asp-controller="Thoughts" asp-action="Edit" asp-route-id="@thought.Id" class="btn btn-success">
                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            </a>
            <a asp-controller="Thoughts" asp-action="Delete" asp-route-id="@thought.Id" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete
            </a>
        </div>  
    }
</div>

