@model RegisterViewModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form asp-controller="Account" asp-action="Register" 
                asp-route-returnurl="@ViewData["ReturnUrl"]" 
                method="post" class="form-horizontal" 
                asp-anti-forgery="true">
                <h3 class="text-center">Create a new Thoughtwave account.</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="ontrol-label"></label>
                    <div>
                        <input asp-for="Email" class="form-control" placeholder="Your Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <div>
                        <input asp-for="Username" class="form-control" placeholder="Pick a Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div >
                        <input asp-for="Password" class="form-control" placeholder="Set Your Password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <div >
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Your Password"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-center">
                        <button type="submit" class="btn btn-default">Register</button>
                    </div>
                </div>
            </form>
            <p class="text-center">
                Already have an account? <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Log in here</a>
            </p>
        </div>
        <div class="col-md-4">
            <section>
                <h3 class="text-center">Register With Social.</h3>
                <hr />
                @{
                    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                    if (loginProviders.Count == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form asp-controller="Account" 
                            asp-action="ExternalLogin" 
                            asp-route-returnurl="@ViewData["ReturnUrl"]" 
                            method="post" class="form-horizontal">
                            <div>
                                <p class="text-center">
                                    @foreach (var provider in loginProviders)
                                    {
                                        var providerName = @provider.AuthenticationScheme.ToLower();
                                        <button type="submit" name="provider"
                                            value="@provider.AuthenticationScheme" 
                                            class="btn btn-block btn-social btn-@providerName" 
                                            title="Log in using your @provider.DisplayName account">
                                            <i class="fa fa-@providerName btn-social-icon"></i> 
                                            <span class="btn-social-text">Register with @provider.AuthenticationScheme</span>
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
</div>

