@model IEnumerable<User>

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = ViewBag.Content;
}

@await Html.PartialAsync("_PageHeader", "Manage Thoughtwave Users")

@await Html.PartialAsync("_FlashMessage")

<!-- Page Content -->
<div class="text-center">
    <h1>@ViewBag.Content</h1>
    <hr class="large"/>

    <h3 class="text-muted">@ViewBag.Message</h3>
</div>

@foreach (var user in Model)
{
    <!-- user info -->
    <div class="container">
        <div class="row">  
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="well well-lg clearfix">
                    <div class="text-center">
                        <a asp-action="Details" asp-controller="Users" asp-route-username="@user.UserName">
                            <img alt="User Image" src="@user.Avatar" class="img-circle bio-img" alt="@user.UserName image">
                        </a>
                        <h2>
                            <a asp-action="Details" asp-controller="Users" asp-route-username="@user.UserName">
                                @user.FullName
                            </a> 
                            <span class="text-muted small">(@@@user.UserName)</span>
                        </h2>
                        <h4>
                            Memeber since @user.SignUpDate.ToString("MM/dd/yyyy")
                        </h4>
                        <div class="row">
                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <div class="col-md-6 col-md-offset-3">
                                @if (await UserManager.IsInRoleAsync(user, "Admin"))
                                {
                                    <form method="POST" asp-controller="Users" asp-anti-forgery="true" 
                                        asp-action="RevokeAdminAccess" asp-route-userId="@user.Id">
                                        <button type="submit" class="btn btn-warning">Revoke Admin Access</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="POST" asp-controller="Users" asp-anti-forgery="true"
                                        asp-action="GrantAdminAccess" asp-route-userId="@user.Id">
                                        <button type="submit" class="btn btn-primary">Grant Admin Access</button>
                                    </form>
                                }
                                </div>
                                <br />
                                <br />
                            }
                            <div class="col-md-6 col-md-offset-3">
                                @if (user.IsBanned)
                                {
                                    <form method="POST" asp-anti-forgery="true" 
                                        asp-action="Ban" asp-controller="Users" 
                                        asp-route-id="@user.Id" asp-route-isBanned="false">
                                        <button type="submit" class="btn btn-success">Remove User Ban</button>          
                                    </form>
                                }
                                else 
                                {
                                    <form method="POST" asp-anti-forgery="true" 
                                        asp-action="Ban" asp-controller="Users" 
                                        asp-route-id="@user.Id" asp-route-isBanned="true">
                                        <button type="submit" class="btn btn-danger">Ban User</button>          
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

