@model EditProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
}

@await Html.PartialAsync("_PageHeader", "Edit Your Profile")

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">    
            <h1 class="text-center">Change Your Profile Details</h1>
            <hr class="large"/>
            <form method="POST" id="profile-form"
                asp-controller="Manage" 
                asp-action="Profile" 
                asp-antiforgery="true" 
                enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" type="text" class="form-control" value="@Model.FirstName">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="@Model.LastName">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">                
                    <label asp-for="Bio"></label>
                    <textarea asp-for="Bio" rows="5" class="form-control">
                        @Model.Bio
                    </textarea>
                    <span asp-validation-for="Bio"></span>
                </div>
                <div class="form-group">                
                    <label asp-for="Avatar"></label>
                    <a href="#" id="remove-avatar" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i> Remove</a>
                    <img src="@Model.Avatar" alt="User image" id="avatar-img" class="thumbnail">
                    <input type="hidden" id="avatar-hidden" asp-for="Avatar" value="@Model.Avatar">
                    <input id="avatar-input"  class="form-control"  type="file" name="files" accept="image/*"/>          
                </div>
                <button type="submit" class="btn btn-success pull-right">Save Profile Changes</button>
            </form>
            <a asp-controller="Manage" asp-action="Index" class="btn btn-default pull-left">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() { 
            
            var $removeAvatarBtn = $('#remove-avatar');
            var $avatarImage = $('#avatar-img');
            var $avatarHidden = $('#avatar-hidden');
            var $avatarInput = $('#avatar-input');

            var currentAvatar = $avatarImage.attr('src');
            var genericAvatar = '/dist/images/generic-user.jpg';

            if (currentAvatar === genericAvatar) {
                $removeAvatarBtn.hide();
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $avatarImage.attr('src', e.target.result);
                        $avatarHidden.val(e.target.result);
                        $removeAvatarBtn.show();
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $removeAvatarBtn.on('click', function(e) {
                e.preventDefault();
                $avatarInput.val('');
                if ($avatarHidden.val() === currentAvatar) {
                    $avatarImage.attr('src', genericAvatar);
                    $avatarHidden.val(genericAvatar);
                    $(this).hide();
                } else {
                    $avatarImage.attr('src', currentAvatar);
                    $avatarHidden.val(currentAvatar);
                }
            });

            $avatarInput.change(function() {
                readURL(this);
            });
        });
    </script>
}
