@model IEnumerable<Thought>

@{
    ViewData["Title"] = ViewBag.Content;
}

@await Html.PartialAsync("_PageHeader")

<!-- Page Content -->
<div class="text-center">
    <h1>@ViewBag.Content</h1>
    <hr class="large"/>

    <h3 class="text-muted">@ViewBag.Message</h3>

    @foreach (var thought in Model)
    {
        <div class="well clearfix">
            <h1>
                <a asp-action="Read" 
                    asp-controller="Thoughts" 
                    asp-route-id="@thought.Id" 
                    asp-route-categoryId="@thought.Category.ToString().ToLower()" 
                    asp-route-slug="@thought.Slug">
                        @thought.Title
                </a>
            </h1>
            <a asp-controller="Thoughts" asp-action="Edit" asp-route-id="@thought.Id" class="btn btn-success">Edit</a>
            <a asp-controller="Thoughts" asp-action="Delete" asp-route-id="@thought.Id" class="btn btn-danger">Delete</a>
        </div>  
    }
</div>

