@model Thought

@{
    ViewData["Title"] = @Model.Title;
}

@await Html.PartialAsync("_PageHeader")

 <!-- Thought Content -->
<thought>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="well well-lg clearfix">
                    <div class="text-center">
                        <h1 class="section-heading">@Model.Title</h1>
                        <p class="text-muted">
                            Posted by <a href="#">@Model.Author.FullName</a> on @Model.CreatedOn.ToString("MM/dd/yyyy") in <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="@Model.Category">@Model.Category</a>
                        </p>
                    </div>
                    <div class="lead">
                        @Model.Content
                    </div>
                    <hr />
                </div>
            </div>             
        </div>
    </div>
</thought>

<!-- Author info and comments -->
<div class="container">
    <div class="row">  
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            
            <h1 class="text-center">About The Author</h1>

            @await Html.PartialAsync("_UserPartial", @Model.Author)

            <!-- Comment Form -->     
            @if (User.Identity.IsAuthenticated)
            {
                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            }

            <hr>

            <!-- Posted Comments -->
            <!-- Comment -->
            @foreach (var comment in @Model.Comments)
            {
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-responsive user-img" src="@comment.User.Avatar" alt="User Image">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a asp-action="Details" asp-controller="Users" asp-route-username="@comment.User.UserName">
                                @comment.User.FullName
                            </a> 
                            <small>
                                @comment.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")
                            </small>
                        </h4>
                        <div class="comment-content">
                            @comment.Content
                        </div>
                    </div>
                </div>
                <hr />
            } 
        </div>
    </div>
</div>