@model ThoughtViewModel

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12">
                <div class="thought-preview">
                    <div class="well well-lg clearfix">
                        @if (Model.Image != null)
                        {
                            <div class="row">
                                <a asp-action="Read" 
                                    asp-controller="Thoughts" 
                                    asp-route-id="@Model.Id" 
                                    asp-route-categoryId="@Model.Category.ToString().ToLower()" 
                                    asp-route-slug="@Model.Slug">
                                    <img class="center-block img-responsive thumbnail" src="@Model.Image" alt="@Model.Title" >
                                </a>
                            </div>
                        }
                        <h1 class="section-heading text-center">
                            <a asp-action="Read" 
                                asp-controller="Thoughts" 
                                asp-route-id="@Model.Id" 
                                asp-route-categoryId="@Model.Category.ToString().ToLower()" 
                                asp-route-slug="@Model.Slug">
                                    @Model.Title
                            </a>
                        </h1>
                        <a asp-action="Details" asp-controller="Users" asp-route-username="@Model.Author.UserName">
                            <img alt="User Image" src="@Model.Author.Avatar" class="pull-left user-img img-circle">
                        </a>
                        <p class="text-muted">
                            Posted by 
                            <a asp-action="Details" asp-controller="Users" asp-route-username="@Model.Author.UserName">
                                @Model.Author.FullName
                            </a> 
                            on @Model.CreatedOn.ToString("MM/dd/yyyy") in 
                            <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="@Model.Category">
                                @Model.Category
                            </a>
                        </p>
                        <div class="thought-lead">
                            <p class="lead">
                                @Html.Raw(WebUtility.HtmlDecode(Model.Lead))
                            </p>
                            <p class="read-more"></p>
                        </div>
                        <hr />
                        <a asp-action="Read" 
                            asp-controller="Thoughts" 
                            asp-route-id="@Model.Id" 
                            asp-route-categoryId="@Model.Category.ToString().ToLower()" 
                            asp-route-slug="@Model.Slug" class="btn pull-right">
                            Read Thought <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>